$background: #c3cfe2;
$fontFamily: Arial, Helvetica, sans-serif;

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  display: 100vh;
  margin: 0px;
  padding: 0px;
  background: $background;
}

.card {
  background-color: white;
  height: 480px;
  width: 350px;
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
  &__profile {
    weight: 30%;
    width: 100%;
    background-color: #686de0;
    position: absolute;
    bottom: 0;
  }
  &__image {
    width: 30%;
    border-radius: 50%;
    border: 5px solid white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    bottom: 55px;
  }
  &__name {
    color: white;
    position: relative;
    bottom: 56px;
    font-size: 18px;
    font-family: $fontFamily;
    font-weight: 400;
  }
  &__info {
    position: relative;
    bottom: 70px;
    color: rgba(196, 192, 223, 0.904);
    font-size: 18px;
    font-family: $fontFamily;
    font-weight: 400;
  }
  &__text {
    padding: 0 25px;
    position: absolute;
    top: 45px;
    line-height: 1.6em;
    color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    font-family: $fontFamily;
    font-weight: 400;
  }
}
